<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calibre Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Calibre-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Calibre-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Calibre-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Calibre-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CalibreTests-macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CalibreTests-tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E03613C1DD61DC100ADF119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E0361511DD61E4C00ADF119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E0361671DD6229500ADF119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E0361731DD6235900ADF119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E03618B1DD623FD00ADF119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA238CA1D7796DC005AACF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA238D41D7796DC005AACF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA238F41D77B6AF005AACF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA2390A1D77B6D7005AACF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA239131D77B6D7005AACF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA2392D1D77B7B6005AACF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA239361D77B7B6005AACF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA239501D77B906005AACF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ED70DD31D7F4D3900A4DFBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
